<?xml version="1.0" encoding="UTF-8"?>
<configuration>
 
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
        </layout>
    </appender>
  
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>../logs/file.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- Roll every second: {yyyy-MM-dd_HH-mm-ss} -->
            <!-- Roll every day: {yyyy-MM-dd} -->
            <fileNamePattern>../logs/file.%d{yyyy-MM-dd}.%i.log.zip</fileNamePattern>
            <!-- SizeAndTime: Split log-file when size is reached + zip + add index (%i) -->
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <!-- keep 30 history files, in this case: for 30 days - files older dan 30 days are deleted -->
            <!-- There is no limit - even 300 seems to work. -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <Pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} - %-5level - %logger - %msg%n</Pattern>
        </encoder>
    </appender>
    
    <logger name="be.test" level="debug"/>
    <logger name="org.apache" level="info"/>
 
    <root level="debug">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>
</configuration>